@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #f3f1f8;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 200px ;
    
}
.logo{
    text-decoration: none;
    color:#3a6cf4;
    text-transform:uppercase ;
    font-weight: 700;
    font-size: 0.2in;
}
.navigateur a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 0.2in;
    font-weight: 500;
    padding-left: 30px;
}
.navigateur a:hover{
    color: #02046b;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c465.939C94.901%2c453.664%2c191.374%2c472.158%2c279.555%2c434.996C378.775%2c393.182%2c469.46%2c330.942%2c530.613%2c242.323C598.902%2c143.363%2c682.999%2c21.057%2c643.582%2c-92.533C603.033%2c-209.387%2c439.937%2c-220.269%2c343.301%2c-297.472C269.436%2c-356.483%2c230.06%2c-451.639%2c144.293%2c-491.418C51.131%2c-534.627%2c-56.747%2c-557.773%2c-155.24%2c-528.697C-253.682%2c-499.636%2c-312.453%2c-406.011%2c-386.342%2c-334.767C-468.279%2c-255.763%2c-586.412%2c-198.876%2c-612.267%2c-88.031C-638.412%2c24.057%2c-568.635%2c133.161%2c-519.801%2c237.385C-471.41%2c340.662%2c-434.65%2c467.965%2c-330.245%2c513.871C-226.313%2c559.569%2c-112.597%2c480.503%2c0%2c465.939' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 1092.934C1537.779 1100.165 1608.339 1000.02 1679.308 932.371 1739.193 875.287 1788.173 809.795 1817.99 732.6220000000001 1846.513 658.799 1845.045 580.805 1845.718 501.66700000000003 1846.511 408.477 1874.71 305.799 1822.276 228.75599999999997 1769.025 150.514 1665.281 128.687 1574.249 102.791 1483.877 77.082 1386.354 45.224000000000046 1299.032 79.90699999999998 1213.494 113.882 1181.3020000000001 214.05900000000003 1120.392 283.058 1058.754 352.882 947.082 395.171 938.832 487.943 930.528 581.322 1027.922 646.721 1081.193 723.862 1124.625 786.755 1169.129 843.779 1222.407 898.581 1291.598 969.752 1341.009 1085.613 1440 1092.934' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
  

}
.main h2 {
    color: white;
    font-size: 1.4;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;
}
.main h3{
    color: white;
    font-size: 1.4;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.mainB{
    color: #FFFF
    ;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
letter-spacing: 1px;
border-radius: 15px;
margin-bottom: 40px;
transition: 0.7s ease;
}
.mainB:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
    
}
.bb{
   color: rgb(255, 255, 255) !important;
    font-size:2em ;
    padding-right: 50px;

}
.image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
}
.image img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%);
    transition: bottom 1s , left 1s;
}
.image:hover .shape{
    bottom: 40px;
  
}
.image:hover .boy{
    left:45%;


}
.mot h3{text-align: justify;
    padding-left: 241px;
    margin-right: -52%;
}

.image2{
    position: relative;
    left: -750px;
}

.mot h2{text-align: justify;
    padding-left: 241px;
    margin-right: -25%;
    font-size: 38px;
    font-style: italic;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
  }
  
  
  input[type=submit] {
    background-color: #0a49f6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  input[type=submit]:hover {
    background-color: #0a49f6;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

